body {
  background: #0f111a;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

input, button {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  background: #2196f3;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #1976d2;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.tabs button {
  background: #333;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}

.tabs button:hover {
  background: #555;
}

#editor {
  width: 95%;
  max-width: 900px;
  border: 1px solid #333;
  border-radius: 10px;
}

pre {
  background: #1e1e1e;
  color: #00e676;
  width: 95%;
  max-width: 900px;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  height: 25vh;
  margin-top: 10px;
}
